# Chain IDs & Addresses: https://docs.usdt0.to/api/deployments

# Private key & API
PK_TEST1=""
ETHERSCAN_API=""

# Deployer / owner address
OWNER_ADDRESS=""

# RPC endpoints
RPC_POL=""
RPC_ARB=""
RPC_CFX="https://conflux-espace.blockpi.network/v1/rpc/public"

# USDT0 OFT / OFTAdapter contract addresses
OFT_POL="0x6BA10300f0DC58B7a1e4c0e41f5daBb7D7829e13"
OFT_ARB="0x14E4A1B13bf7F943c8ff7C51fb60FA964A298D92"
OFT_CFX="0xC57efa1c7113D98BdA6F9f249471704Ece5dd84A"

# Native USDT contract addresses
USDT_POL="0xc2132D05D31c914a87C6611C10748AEb04B58e8F"
USDT_ARB="0xFd086bC7CD5C481DCC9C85ebE478A1C0b69FCbb9"
USDT_CFX="0xaf37E8B6C9ED7f6318979f56Fc287d76c30847ff"

# LayerZero endpoint IDs
LZID_POL="30109"
LZID_ARB="30110"
LZID_CFX="30212"

# Deployed wrapper proxy address (filled after deployment)
WRAPPER_POL=""
